@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* SETTING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --dark-purple: #3e065f;
  --medium-purple: #700b97;
  --light-purple: #8e05c2;
}

ul,
li {
  list-style: none;
  margin: 0.25rem;
}

body {
  background-color: var(--black);
  color: var(--light-purple);
  font-family: "Lato", sans-serif;
}

i {
  transition: 0.5s all ease;
}

i:hover {
  font-size: 30px;
}

.fa-trash {
  position: absolute;
  bottom: 5px;
  right: 10px;

  color: #c872eb;
  cursor: pointer;
}

.fa-edit {
  position: absolute;
  bottom: 5px;
  right: 45px;

  color: #c872eb;
  cursor: pointer;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  height: 200px;
  margin: 0 auto;
  color: #c972eb7a;
}

header p {
  margin: 0.5rem;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

/* SECTION DISPLAY ALBUM */

#album {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  max-width: 1080px;
  height: auto;
  margin: 0 auto;
}

.card {
  position: relative;
  margin: 0.5rem;
  display: flex;
  border: 1px solid #8d05c259;
  align-items: center;

  height: 250px;
  padding: 1rem;
}

.card img {
  width: 200px;
}
.card .description {
  padding: 1.5rem;
  width: auto;
}

.hide {
  display: none;
}

form {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  max-width: 1080px;
  margin: 5rem auto;
}

form input {
  background-color: #6b2b85ad;
  color: white;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
form div {
  display: flex;
  flex-direction: column;
}

form input::placeholder {
  color: white;
}

form button {
  margin: 1rem;
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #6b2b85ad;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: white;
  color: var(--medium-purple);
}
